name: CI

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version-file: go.mod
      - name: Test
        run: go test -v ./...
      - name: Check style
        run: |
          gofmt -w -s .
          git diff --exit-code
      - name: Build wasm
        run: |
          GOOS=js GOARCH=wasm go build -o split-proposal.wasm
      - name: Build LaTeX
        uses: xu-cheng/latex-action@v4
        with:
          root_file: sample/main.tex
          work_in_root_file_dir: true
      - name: Run test
        run: |
          ./etc/ci-test.sh
